<div ng-cloak="" style="padding-top: 5vh">
    <div class="container-fluid">
        <!--GALLERY-->
        <div class="col-md-4 col-lg-4 image-item" ng-repeat="image in imageList | limitTo : 5 : getBegin()">
            <div class="delete-image" ng-click="askAndDeleteImage(image)">
                <i class="fa fa-times"></i>
            </div>

            <img class="thumbnail" ng-src="/resources/images/{{image}}" alt="{{image}}"
                 data-toggle="modal" data-target="#myModal" ng-click="setCurrentImage(image)"/>
        </div>
        <div class="col-md-4 col-lg-4 image-item add-image" ng-click="uploadImage">
            <label for="upload-image">
                <i class="fa fa-plus"></i>
            </label>
            <input type="file" id="upload-image" name="image" accept="image/jpeg, image/png, image/jpg"
                   onchange="angular.element(this).scope().uploadImage(this)"/>
        </div>

        <!--/GALLERY-->
        <!--PAGINATION-->
        <ul class="pagination">
            <li ng-click="setPage(currentPage - 1)">
                <a href="#">&laquo;</a>
            </li>
            <li ng-repeat="i in getRange() | limitTo : 10" ng-click="setPage(i)"
                ng-class="{active: $index + 1 == currentPage}">
                <a href="#">{{i}}</a>
            </li>

            <li ng-click="setPage(currentPage + 1)">
                <a href="#">&raquo;</a>
            </li>
        </ul>
        <!--/PAGINATION-->
    </div>

    <div id="myModal" class="modal fade hidden-xs" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">
                        {{currentImage}}
                    </h3>
                </div>

                <div class="modal-body">
                    <img ng-src="/resources/images/{{currentImage}}" alt="{{currentImage}}"
                         class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>

</div>